<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Groups You Manage</div>
                    <div class="panel-body">
                        <div *ngIf="ownGroups.length" class="list-group">
                            <a *ngFor="let group of ownGroups" [routerLink]="['/groups', group.uuid]" class="list-group-item">
                                <h4 class="list-group-item-heading">{{group.name}} [uuid: {{group.uuid}}]</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Groups You Have Joined</div>
                    <div class="panel-body">
                        <ul *ngIf="joinedGroups.length" class="list-group">
                            <li *ngFor="let group of joinedGroups" class="list-group-item">{{group.name}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Trending Groups</div>
                    <div class="panel-body">
                        <ul *ngIf="trendingGroups.length" class="list-group">
                            <li *ngFor="let group of trendingGroups" class="list-group-item">{{group.name}} <span class="badge">{{group.uuid}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Advertisement Space</div>
                    <div class="panel-body">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>