<div class="container-fluid">
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li>
            <a [routerLink]="['', 'login']" routerLinkActive="active">Login</a>
        </li>
        <li>
            <a [routerLink]="['', 'signup']" routerLinkActive="active">SignUp</a>
        </li>
        <li>
            <a [routerLink]="['/feed']" routerLinkActive="active">Feed</a>
        </li>
    </ul>
</div>