<div class="container-fluid">
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a routerLink="feed" routerLinkActive="active">Feed</a>
        </li>
        <li>
            <a routerLink="articles" routerLinkActive="active">Articles</a>
        </li>
        <li>
            <a routerLink="connections" routerLinkActive="active">Connections</a>
        </li>
        <li>
            <a routerLink="groups" routerLinkActive="active">Groups</a>
        </li>
        <li>
            <a routerLink="messages" routerLinkActive="active">Messages</a>
        </li>
        <li>
            <a routerLink="posts" routerLinkActive="active">Posts</a>
        </li>
    </ul>
</div>