<!-- BEGIN HEADER -->
<linkcxo-shared-header></linkcxo-shared-header>
<!-- END HEADER -->

<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"> </div>
<!-- END HEADER & CONTENT DIVIDER -->

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN TOP NAVIGATION BAR -->
    <linkcxo-shared-navigation-top></linkcxo-shared-navigation-top>
    <!-- END TOP NAVIGATION BAR -->

    <!-- BEGIN CONTENT -->
    <router-outlet></router-outlet>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->

<!-- BEGIN FOOTER -->
<linkcxo-shared-footer></linkcxo-shared-footer>
<!-- END FOOTER -->